mat-toolbar {
  display: flex;
  justify-content: center;
  height: 64px;
  margin-bottom: 30px;

  button {
    height: 40px;
    width: 200px;
    margin: 0 100px;
  }
}
.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
