img:hover {
  border: 2px solid #007BFF;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px); // Blurring effect
  z-index: 1000; // Ensure it stays on top
}



